.inactive
{
    opacity: 0;
    pointer-events:none;
    z-index: -2;
}

.inventory-item
{
    cursor:pointer;
    width:fit-content;
}

.warehouse-list
{
    cursor:pointer;
    width:fit-content;
}

.warehouse-content-list
{
    cursor:pointer;
    width:fit-content;
}